<div class="container mt-5">
  <h2 class="text-center mb-4 text-primary">Bienvenido</h2>

  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Usuario"
      [(ngModel)]="username"
    >
  </div>

  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Contraseña"
      [(ngModel)]="password"
    >
  </div>

  <button (click)="login()" class="btn btn-success w-100">Ingresar</button>

  <p class="text-danger mt-3">{{ error }}</p>
</div>
